button{border-radius: 7px;
width: 5px; }
h3{text-align: center;}
p{text-align: center;}
/* padding/ p
padding-top/ pt
padding-bottom/ Pb
padding-left/ pl
padding-right/ pr 
maximam 5
same for margin
container bg-dark p-2 p-lg-4 for little size padding 2 rem,for full screen p4
*/